* {
    box-sizing: border-box;
  }

body{
    background-color: wheat;
    background-image: url("../img/bgn.PNG");
    background-size: 50px;
}

#title{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The players' board */
#screen{
    width: 50%;
    float: left;
    background-color: rgb(204, 162, 107);
    height: 428px;
}

#display{
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#board{
    width: 50%;
    float: left;
    height: 430px;
    background-image: url("../img/cover.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(7, 1, 36);
}

[type="inside-the-screen"]{
    margin: 4px;
}

#board-row1, #board-row2, #board-row3{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* background-color: brown; */
}

[id^="name"]{
    display: block;
    position: relative;
    margin-top: auto;
    margin-bottom: 0px;
    /* transform: translateY(-100%); */
    text-align: center;
    color: white;
    background-color: rgb(255, 130, 0);
}

[id^="role"]{
    display: none;
}

#lover-1, #lover-1-code, #lover-2, #lover-2-code, #crystal-ball, #crystal-ball-code,
#werewolf-victim, #werewolf-victim-code, #white-werewolf-victim, #white-werewolf-victim-code,
#witch-saved, #witch-saved-code, #witch-killed, #witch-killed-code, #hunter-killed, #hunter-killed-code  {
    display: none;
}

/* There is an empty space between players 5 and 6, so number 5's margin-right is adjusted */

#name05{
    margin-right: 220px;
}

#display05{
    margin-right: 220px;
}

#board-row1 > div, #board-row2 > div, #board-row3 > div{
    margin: 10px;
}

#game-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    text-align: center;
    background-color: rgb(204, 162, 107);
}

/* The buttons */

.btn{
    background-color: rgb(255, 130, 0);
    color: snow;
}

/* Character buttons */

#villager-name{
    border-left: 6px solid brown;
}

#villager-no{
    color:white;
    background-color: brown;
}

#witch-name{
    border-left: 6px solid purple;
}

#witch-no{
    color:white;
    background-color: purple;
}

#hunter-name{
    border-left: 6px solid olivedrab;
}

#hunter-no{
    color:white;
    background-color: olivedrab;
}

#cupid-name{
    border-left: 6px solid magenta;
}

#cupid-no{
    color:white;
    background-color: magenta;
}

#seer-name{
    border-left: 6px solid gray;
}

#seer-no{
    color:white;
    background-color: gray;
}

#fox-name{
    border-left: 6px solid orangered;
}

#fox-no{
    color:white;
    background-color: orangered;
}

#werewolf-name{
    border-left: 6px solid black;
}

#werewolf-no{
    color:white;
    background-color: black;
}

#white-werewolf-name{
    border-left: 6px solid white;
}

#white-werewolf-no{
    color:black;
    background-color: white;
}

/* #name06{
    text-decoration: line-through;
    text-decoration-color: white;
} */